<head>
  <link rel='stylesheet' href='mystyle.css' >
</head>

<body>
  <h1>Your bookings below</h1>
  <% if @current_user %>
  <%= @current_user.username  %> dashboard
  <% else %>
  <%= "You are not logged in" %>
  <% end %>
</body>