<h1>Your listings below</h1>


<% if @current_user %>
<h1>Logged in as <%=@current_user.username%></h1>
  <form action="/dashboard/new" method="get">
    <input type="submit" value="Add Space">
  </form>
<% else %>
<h1>You are not logged in</h1>
<% end %>
<ul>
  <% @spaces.each do |space| %> 
  <li>
    <%= space.username %> has posted a space with description: <%= space.description %> for £<%= space.price %> per night.
  </li>

  <% end %>
</ul>

<form action="/requests" method="get">
  <input type="submit" value="Manage My Requests">
</form>


<form action="/sessions/logout" method="post">
  <input type="submit" value="Log out" >
</form>

<form action="/" method="get">
  <input type="submit" value="Home" >
</form>

