<head>
  <link rel='stylesheet' href='mystyle.css' >
  <link rel='icon' type=image/png' href='bear.png'>
  <title>New Request</title>
</head>

<body>
<nav>
  <form method='get' action='/' id='home'>
    <input class='navbar' type='submit' value='Home'>
  </form>
  <% if @current_user %>
    <form method='get' action='/requests' id='requests'>
      <input class='navbar' type='submit' value='Manage Requests'>
    </form>
    <form method='post' action='/sessions/logout' id='logout'>
      <input class='navbar' type='submit' value='Log Out'>
    </form>
  <% end %>
</nav>

<h3>New request</h3>

</body>