<head>
  <link rel='stylesheet' href='mystyle.css' >
</head>

<header>
  <form method='get' action='/' id='home'>
    <input type='submit' value='Home'>
  </form>
  <% if @current_user %>
    <form method='get' action='/dashboard' id='dashboard'>
      <input type='submit' value='Dashboard'>
    </form>
    <form method='get' action='/requests' id='requests'>
      <input type='submit' value='Manage Requests'>
    </form>
    <form method='post' action='/sessions/logout' id='logout'>
      <input type='submit' value='Log Out'>
    </form>
  <% end %>
</header>

<body>
 <h1> Add your space </h1>

  <form action='/dashboard/new' method='post'>
    <input type='text' name='description' placeholder='describe the space'>
    <input type='text' name='price' placeholder='price'>
    <input type='submit' value='Post Space'>
  </form>

</body>
