<head>
  <link rel='stylesheet' href='mystyle.css' >
</head>

<body>
 <h1> Add your space </h1>

  <form action='/spaces/new' method='post'>
    <input type='text' name='description' placeholder='describe the space'>
    <input type='text' name='price' placeholder='price'>
    <input type='submit' value='Post Space'>
  </form>

</body>
