<head>
  <link rel='stylesheet' href='/mystyle.css' >
  <link rel='icon' type='image/png' href='bear.png'>
  <title>Requests</title>
</head>

<body>
<nav>
  <form method='get' action='/' id='home'>
    <input class='navbar' type='submit' value='Home'>
  </form>
  <% if @current_user %>
    <form method='get' action='/dashboard' id='dashboard'>
      <input class='navbar' type='submit' value='Dashboard'>
    </form>
    <form method='post' action='/sessions/logout' id='logout'>
      <input class='navbar' type='submit' value='Log Out'>
    </form>
  <% end %>
</nav>

<h3><%= @current_user.username %>: Your requests are listed below</h3>



</body>