<head>
  <link rel='stylesheet' href='mystyle.css' >
</head>

<header>
  <form method='get' action='/' id='home'>
    <input type='submit' value='Home'>
  </form>
  <% if @current_user %>
    <form method='get' action='/dashboard' id='dashboard'>
      <input type='submit' value='Dashboard'>
    </form>
    <form method='post' action='/sessions/logout' id='logout'>
      <input type='submit' value='Log Out'>
    </form>
  <% end %>
</header>

<body>
<h1><%= @current_user.username %>: Your requests are listed below</h1>



</body>