<h1>Your listings below</h1>
<form action="/sessions/logout" method="post">
<input type="submit" value="Log out" style="margin-left: 50%; height: 50px; width: 300px;">
</form>


<h1>Logged in as <%=@current_user%></h1>
<ul>
  <% @spaces.each do |space| %>
  <li>
    <%= space.username %> has posted a space with description: <%= space.description %> for £<%= space.price %> per night.
  </li>
  <% end %>
</ul>
<form action="/spaces/new" method="get">
  <input type="submit" value="Add Listing">
</form>