<h1>Your listings below</h1>


<% if @current_user %>
<h1>Logged in as <%=@current_user%></h1>
  <form action="/spaces/new" method="get">
    <input type="submit" value="Add Space">
  </form>
<% else %>
<h1>You are not logged in</h1>
<% end %>
<ul>
  <% @spaces.each do |space| %>
  <li>
    <%= space.userid %> has posted a space with description: <%= space.description %> for £<%= space.price %> per night.
  </li>
  <% end %>
</ul>

<form action="/sessions/logout" method="post">
  <input type="submit" value="Log out" >
</form>
