<head>
  <link rel='stylesheet' href='mystyle.css' >
</head>

<body>

<h1> Welcome to BearBnB! </h1>

<p1> For all your ursidae housing needs</p1>

</body>


<form action="/signup" method="post">
<input type="text" value="username" placeholder="username">
<input type="text" value="email" placeholder="email">
<input type="password" value="password" placeholder="password">
<input type="submit" value="Signup">
</form> <br>

<form action="/login" method="post">
<input type="text" value="username" placeholder="username">
<input type="text" value="email" placeholder="email">
<input type="password" value="password" placeholder="password">
<input type="submit" value="Login">
</form> 