@font-face {
  font-family: bones;
  src: url("Black Bones.ttf"); 

}

header {
  display: inline-block
}

body {
  background-image: url('bear.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}

h1 {
  text-align: center;
  font-size: 400%;
  font-family: bones;

}