
body {
  background-image: url('empty_room.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  opacity: 0.6
}

nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

h1 {
  font-size: 200%;
  font-family: Zapfino;
  color: white
}

h3 {
  font-family: Zapfino;
}

ul {
  list-style-type: none;
  font-family: Papyrus

}

.navbar {
  margin: 20px;
  background-color: transparent;
  color: white;
  border: none;
  font-family: Papyrus
}

.navbar:hover {
  cursor:pointer
}

.request {
  float: right;
  margin-right: 25%;
  background-color: transparent;
  color: white;
  border: none;
}

.request:hover {
  cursor:pointer
}

.new_space {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 150%;
  margin-bottom: 15px;
  font-family: Papyrus
}

.new_space:hover {
  cursor:pointer
}

.login:hover {
  cursor:pointer
}

#logo {
  display: inline-block;
  float: center;
  height: 60px;
  width: auto; 
}